
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_BackGroud.cshtml";

    ViewBag.Id = "a" + 10000;
}




<style>
    #daiban a {
        padding: 4px 15px;
    }

    #home, #profile, #messages {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 5px;
    }

    .daizhixing {
        background-color: #f7994b;
    }


    #modelView .modal-body h4, #modelStart .modal-body h4 {
        font-family: 'Microsoft YaHei UI';
        font-size: 14px;
        font-weight: 700;
    }

    .text-info {
        color: #646262;
    }

    hr {
        margin-bottom: 8px;
        margin-top: 8px;
    }


    .CommonBg {
        display: flex; /*Flex布局*/
        display: -webkit-flex; /* Safari */
        align-items: center; /*指定垂直居中*/
        min-height: 100px;
    }

    figure {
        margin: 0 auto;
        text-align: center;
    }

        figure p {
            font-weight: 700
        }

    .text-info {
        color: #646262;
    }

    .minHeight100 {
        min-height: 100px;
    }

    .thg {
        cursor: pointer;
    }

    #divXiaoYuan figure, #divLvGuan figure, #divPiaoJu figure {
        border: 1px solid #eee;
    }

    #divXiaoYuan div, #divLvGuan div, #divPiaoJu div {
    }


    #modelView .modal-body {
        overflow-y: auto;
        overflow-x: hidden;
    }

        #modelView .modal-body::-webkit-scrollbar { /*滚动条整体样式*/
            width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
            height: 10px;
        }

        #modelView .modal-body::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
            border-radius: 5px;
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            background: #333;
        }

        #modelView .modal-body::-webkit-scrollbar-track { /*滚动条里面轨道*/
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            border-radius: 0;
            background: #eee;
        }
   
     
</style>
<script>
    var t1 = null,  optype=1;

    function initT1() {
        if (t1) {
            t1.draw(true)
            return;
        }
        t1 = $('#t1').DataTable({
            "bAutoWidth": true,
            "aLengthMenu": [10,15, 20, 50, 100, 200, 500], //更改显示记录数选项
            "iDisplayLength": 50, //默认显示的记录数
            dom: 't<"d"r><"row"<"col-md-2 col-lg-2 col-sm-2 col-xs-2"i><"col-md-10 col-sm-10 col-xs-10 col-lg-10"p>>',
            "processing": true,
            "serverSide": true,
            "sScrollY": $(window).height() - $("#navbar").outerHeight()-170,
            "bSort": false,
            "bPaginate": true, //是否显示（应用）分页器

            "ajax": {
                "url": "GetData",
                datatype: "JSON",
                type:"POST",
                data: function (d) {
                    d.BegDate = $("#searchBegDate").val();
                    d.EndDate = $('#searchEndDate').val();
                    d.StudentName = $("#searchStudentName").val()
                    d.StudentIDCard = $("#searchStudentIDCard").val();
                }
            },
            "columns": [
                { "data": null },
                {
                    "data": null,
                    render: function (data, type, row, meta) {
                        return data.StudentName + "<br>" + data.StudentIDCard
                    }
                },
                {
                    "data": "StudentType"
                },
                {
                    "data": null,
                    render: function (data, type, row, meta) {
                        return data.UserName + "<br>" + data.UserDeptName
                    }
                },
                {
                    "data": "InsertTime", render: function (data, type, row, meta) {
                        return datetimeFormate(data)
                    }
                   
                },
                {
                    "data": null,
                    render: function (data, type, row, meta) {
                        return (data.DingZhengName||"-") + "<br>" + (data.DingZhengNumber||"-") + "<br>" + (datetimeFormate(data.DingZhengUpdateTime)||"-") 
                    }
                },
                {
                    "data": null, render: function (data, type, row, meta) {
                        return " <button view  class='btn btn-xs btn-link'>详情</button>"
                           //+ " <button delete class='btn btn-xs btn-danger' data-linedata='" + data.StudentId + "'>删除</button>"
                            + " <button gengzheng class='btn btn-xs btn-primary' data-linedata='" + data.StudentId + "'>更正数据</button>"
                    },
                    'sClass': "text-center"
                }
            ],
            language: {
                "sProcessing": "正在处理数据...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "共_TOTAL_名学生",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            },
            "fnDrawCallback": function () {
                var api = this.api();
                var startIndex = api.context[0]._iDisplayStart;//获取到本页开始的条数
                api.column(0).nodes().each(function (cell, i) {
                    cell.innerHTML = '<span class="label label-success">' + (startIndex + i + 1) + '</span>'
                });
            }
        });

        $('#t1 tbody').on('click', 'tr', function (e) {
            var selected = $(this).is(".selected")
            if (!selected) {
                $(this).addClass('selected')
            }
            else {
                $(this).removeClass('selected')
            }



        })

        $('#t1 tbody').on("click", 'button[delete]', function (e) {
            e.stopPropagation();

            var tr = $(this).closest('tr');
            var row = t1.row(tr);
            layer.confirm('您确定要删除吗？', {
                btn: ['确定', '取消'] //按钮
            }, function () {

                $.ajax({
                    'url': "DeleteMathWork",
                    data: { "WorkId": row.data().WorkId },
                    success: function (data) {
                        if (data.suc) {
                            layer.msg('删除成功', { icon: 1 })
                            t1.draw(true);
                        }
                        else {
                            layer.msg(data.remark, { icon: 2 })
                        }
                    }
                })
            });



        });

        $('#t1 tbody').on("click", 'button[edit]', function (e) {
            optype = 2;
            e.stopPropagation();
            var tr = $(this).closest('tr');
            var row = t1.row(tr);
            var data = row.data();


            $("#form1").get(0).reset();
            $("#form1").validate().resetForm(); //清除验证

            $("#myModalLabel").html("更正学生信息")
            $('#modelZhong').modal();





            for (var sth in data) {
                $("#" + sth).val(data[sth])
            }

            $('#BegTime').val(dateFormate(data["BegTime"]))
            $('#EndTime').val(dateFormate(data["EndTime"]))



            //弹出编辑框 并
        });


        //删除操作

        $('#t1 tbody').on("click", 'button[delete]', function (e) {
            e.stopPropagation();

            var tr = $(this).closest('tr');
            var row = t1.row(tr);
            layer.confirm('您确定要删除吗？', {
                btn: ['确定', '取消'] //按钮
            }, function () {

                $.ajax({
                    'url': "DeleteStudent",
                    data: { "StudentId": row.data().StudentId },
                    success: function (data) {
                        if (data.suc) {
                            layer.msg('删除成功', { icon: 1 })
                            t1.draw(true);
                        }
                        else {
                            layer.msg(data.remark, { icon: 2 })
                        }

                    }
                })
            });
        });



        $('#t1 tbody').on("click", '*[view]', function (e) {
            e.stopPropagation();
            var tr = $(this).closest('tr');
            var row = t1.row(tr);
            var data = row.data();
            $('#modelView').modal();
            $("#modelView .modal-body").height($(window).height()-200)
            $("#modelView .modal-body").animate({
                'scrollTop': 0
            });
            for (var sth in data) {
                $("#Div" + sth).html(data[sth])
            }

            $('#DivBegTime').html(dateFormate(data["BegTime"]))
            $('#DivEndTime').html(dateFormate(data["EndTime"]))


            var HisList = data.HisList;
            $("#tableHis tbody tr").remove();
            $.each(HisList, function (idx, el) {
                $("#tableHis tbody").append("<tr><td>" + (idx + 1) + "</td><td>" + el.ShenPiRen + "</td><td>" + el.ShenPiJianYi + "</td><td>" + el.ShenPiJianRemark + "</td><td>" + datetimeFormate(el.ShenPiDateTime)+"</td></tr>")
            })

            var AttachedMentList = data.AttachedMentList;

            var xiaoyuan = $.grep(AttachedMentList, function (el, index) {
                return el.AttchedType=="校园风光";
            });

            var lvguan = $.grep(AttachedMentList, function (el, index) {
                return el.AttchedType == "旅馆照片";
            });

            var piaoju = $.grep(AttachedMentList, function (el, index) {
                return el.AttchedType == "票据照片";
            });

            var lichengbiao = $.grep(AttachedMentList, function (el, index) {
                return el.AttchedType == "车辆里程表";
            });

            $('#divXiaoYuan,#divLvGuan,#divPiaoJu,#divCheLiangLiChengBiao').empty();

            $(xiaoyuan).each(function (idx, el) {
                $("#divXiaoYuan").append('<div class="col-md-3 col-sm-3 col-xs-3  CommonBg " style="height: 100px;"><figure><img class="thg" src="' + el.AttachedUrl + '" height="80" width="100%"><p>' + el.AttchedRemark+'</p></figure></div >')
            })

            $(lvguan).each(function (idx, el) {
                $("#divLvGuan").append('<div class="col-md-3 col-sm-3 col-xs-3  CommonBg " style="height: 100px;"><figure><img class="thg" src="' + el.AttachedUrl + '" height="80" width="100%"><p>' + el.AttchedRemark + '</p></figure></div >')
            })

            $(piaoju).each(function (idx, el) {
                $("#divPiaoJu").append('<div class="col-md-3 col-sm-3 col-xs-3  CommonBg " style="height: 100px;"><figure><img class="thg" src="' + el.AttachedUrl + '" height="80" width="100%"><p>' + el.AttchedRemark + '</p></figure></div >')
            })

            $(lichengbiao).each(function (idx, el) {
                $("#divCheLiangLiChengBiao").append('<div class="col-md-3 col-sm-3 col-xs-3  CommonBg " style="height: 100px;"><figure><img class="thg" src="' + el.AttachedUrl + '" height="80" width="100%"><p>' + el.AttchedRemark + '</p></figure></div >')
            })



            //弹出编辑框 并

        });

        $('#t1 tbody').on("click", '*[gengzheng]', function (e) {
            optype = 2;
            e.stopPropagation();
            var tr = $(this).closest('tr');
            var row = t1.row(tr);
            var data = row.data();


            $("#formUpdate").get(0).reset();
            $("#formUpdate").validate().resetForm(); //清除验证

            $("#modelUpdate #myModalLabel").html("更正学生信息")
            $('#modelUpdate').modal();


            for (var sth in data) {
                $("#formUpdate #" + sth).val(data[sth])
            }
           
           

        });

        $('#t1 tbody').on("click", "*[start]", function (e) {
            var tr = $(this).closest('tr');
            var row = t1.row(tr);
            var data = row.data();

            layer.confirm('您确定要提交吗？', {
                btn: ['确定', '取消'] //按钮
            }, function () {

                $.ajax({
                    'url': "Send2SHengPi",
                    data: { "WorkId": row.data().WorkId },
                    success: function (data) {
                        if (data.suc) {
                            layer.msg('提交成功', { icon: 1 })
                            t1.draw(true);
                        }
                        else {
                            layer.msg(data.remark, { icon: 2 })
                        }

                    }
                })
            });

        })

        $('#t1 tbody').on("click", "*[zhongshen]", function (e) {
            var tr = $(this).closest('tr');
            var row = t1.row(tr);
            var data = row.data();
            $("#form2").get(0).reset();
            $("#form2").validate().resetForm(); //清除验证
            $("#SendWorkId").val(data.WorkId);
            $("#InfactFee").val(data.InfactFee);
            $("#modelStart").modal();
        })


        $("#t1 tbody").on("click", "*[tiepiao]", function () {
            var tr = $(this).closest('tr');
            var row = t1.row(tr);
            var data = row.data();
            $("#FileWorkId").val(data.WorkId)
            $("#modelTiePiao").modal()
        })
    }



    $(document).ready(function () {

        $("#btnTZ,#btnWN,#btnZZ,#btnDZ,#btnGD,#btnSW").click(function () {
            if ($(this).is('.disabled')) { return;}
            optype = 1;
            $("#form1").get(0).reset();
            $("#form1").validate().resetForm(); //清除验证
            $("#myModalLabel").html("录入学生信息")
 
            $('#form1 #StudentType').val($(this).html().replace(/&amp;/,"&"));
            $("#modelZhong").modal();
        })

        $("#BtnDaoChuExcel").click(function () {
            location.href = '@Url.Content("~/Student/OutExcel")' + "?R=" + Math.random() * 10000
                + "&BegDate=" + $("#searchBegDate").val()
                + "&EndDate" + $('#searchEndDate').val();
                +"&StudentName=" + $("#searchStudentName").val()
                +"&=StudentIDCard" + $("#searchStudentIDCard").val();

        });

        $('#btnSearch').click(function () {
            t1.draw(true);
        })

        $(document).on("click", "*.thg ", function () {
            var src = $(this).attr("src")
            window.open(src)
        })

        initT1();

        setInterval(function () {
            t1.draw(true);
        }, 1000*60*2)



      

        $("#form1").validate({
            rules: {
                StudentIDCard: {
                    required: true
                },
                ReStudentIDCard: {
                    required: true,
                    equalTo: "#StudentIDCard"
                }

            },
            submitHandler: function (form) {
                var data = $(form).serialize();
                $("#modelLoad").modal();
                if (optype === 1) {
                    $.ajax({
                        url: "AddStudent",
                        data: $(form).serialize() + "&&StudentType=" + $('#StudentType').val(),
                        success: function (data) {
                            $("#modelLoad").modal("hide");
                            if (data.suc) {
                                layer.msg('新建成功', { icon: 1 })
                                $('#modelZhong').modal('hide');
                                t1.draw(true);
                            }
                            else {
                                layer.msg(data.remark, { icon: 2 })
                            }
                        },
                        dataType: "JSON",
                        type: "POST"
                    })
                }
                else {

                    $.ajax({
                        url: "UpdateMathWork",
                        data: $(form).serialize(),
                        success: function (data) {
                            $("#modelLoad").modal("hide");
                            if (data.suc) {
                                layer.msg('更新成功', { icon: 1 })
                                $('#modelZhong').modal('hide');
                                t1.draw(false);
                            }
                            else {
                                layer.msg(data.remark, { icon: 2 })
                            }
                        },
                        dataType: "JSON",
                        type: "POST"
                    })

                }
            }



        });

        $("#formUpdate").validate({
            submitHandler: function (form) {
                var data = $(form).serialize();
                $("#modelLoad").modal();
                $.ajax({
                    url: "GengZhengStudent",
                    data: $(form).serialize(),
                    success: function (data) {
                        $("#modelLoad").modal("hide");
                        if (data.suc) {
                            layer.msg('处理成功', { icon: 1 })
                            $('#modelUpdate').modal('hide');
                            t1.draw(true);
                        }
                        else {
                            layer.msg(data.remark, { icon: 2 })
                        }
                    },
                    dataType: "JSON",
                    type: "POST"
                })
               
            }



        });

        


        $("#form2").validate({
            rules: {
                InfactFee: {
                    positiveinteger: true
                }
            },
            submitHandler: function (form) {

                var data = $(form).serialize();
                $("#modelLoad").modal();
                    $.ajax({
                        url: "Send3SHengPi",
                        data: $(form).serialize(),
                        success: function (data) {
                            $("#modelLoad").modal("hide");
                            if (data.suc) {
                                layer.msg('提交成功', { icon: 1 })
                                $("#modelStart").modal("hide");
                                t1.draw(false);
                            }
                            else {
                                layer.msg(data.remark, { icon: 2 })
                            }
                        },
                        dataType: "JSON",
                        type: "POST"
                    })


            }



        });

        $("#formUpload").validate({
            rules: {
            },
            submitHandler: function (form) {
                var formData = new FormData();

                formData.append("AttchedType", $("#AttchedType").val());
                formData.append("FileWorkId", $("#FileWorkId").val());
                formData.append("AttchedRemark", $("#AttchedRemark").val())
                var AttachedUrl = document.getElementById("AttachedUrl").files[0];
                formData.append("AttachedUrl", AttachedUrl);
                $("#modelLoad").modal();
                $.ajax({
                    type: "POST",
                    url: "UpLoadFile",
                    data: formData,
                    dataType: "JSON",
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        $("#modelLoad").modal("hide");
                        if (data.suc) {
                            layer.msg('上传成功', { icon: 1 })
                            $("#formUpload").get(0).reset();
                            $("#formUpload").validate().resetForm(); //清除验证
                            t1.draw(false);
                        }
                        else {
                            layer.msg(data.remark, { icon: 2 })
                        }
                    },
                    dataType: "JSON",
                    type: "POST"
                })
            }
        });

         


        laydate.render({
            elem: '#BegTime' //指定元素
        });

        laydate.render({
            elem: '#EndTime' //指定元素
        });

        laydate.render({
            elem: '#searchBegDate' //指定元素
        });

        laydate.render({
            elem: '#searchEndDate' //指定元素
        });








        jQuery.validator.addMethod("positiveinteger", function (value, element) {

            //    var tel = /^-?\d+$/g;  //正、负 整数 + 0

            //    return this.optional(element) || (tel.test(value));

            //}, "请输入正整数");

            var aint = parseInt(value);
            return aint >= 0 && (aint + "") == value;
        }, "请输入非负数");


    })
</script>

<script>
    window.sth = function () {
        $.ajax({
            url: "./../SysSetting/GetData",
            data: {},
            success: function (data) {
                var SysBaoMingStatus = data.SysBaoMingStatus;
                var danzhaoStatus = data.danzhaoStatus;
                var tongzhaoStatus = data.tongzhaoStatus;
                var zhongzhuanStatus = data.zhongzhuanStatus;
                var wunianStatus = data.wunianStatus;
                var shengwaiStatus = data.shengwaiStatus;
                if (SysBaoMingStatus) {
                    if (danzhaoStatus) {
                        $('#btnDZ').removeClass('disabled').addClass("btn-success");
                    }
                    else {
                        $('#btnDZ').removeClass('btn-success')
                    }
                    

                    if (tongzhaoStatus) {
                        $('#btnTZ').removeClass('disabled').addClass("btn-success");
                    }
                    else {
                        $('#btnTZ').removeClass('btn-success')
                    }

                    if (zhongzhuanStatus) {
                        $('#btnZZ').removeClass('disabled').addClass("btn-success");
                    }
                    else {
                        $('#btnZZ').removeClass('btn-success')
                    }

                    if (wunianStatus) {
                        $('#btnWN').removeClass('disabled').addClass("btn-success");
                    }
                    else {
                        $('#btnWN').removeClass('btn-success');
                    }
                    if (shengwaiStatus) {
                        $('#btnSW').removeClass('disabled').addClass("btn-success");
                    }
                    else {
                        $('#btnSW').removeClass('btn-success');
                    }
                }
                else {
                    $('#btnDZ,#btnTZ,#btnZZ,#btnWN,#btnSW').addClass('disabled').removeClass('btn-success');;
                }
            },
            dataType: "JSON",
            type: "POST"
        });
    }
    $(document).ready(function () {

        sth();
        setInterval(function () { sth() }, 5000)
    })
</script>
<div>

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding-right:0">
            <div class="input-group  input-group-sm  ">
                <span class="input-group-addon" id="basic-addon1">登记日期</span>
                <input type="text"
                       placeholder="开始日期"
                       id="searchBegDate" name="searchBegDate" class="form-control" aria-describedby="basic-addon1">
            </div>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-group-sm" style="padding:0">

            <input type="text"
                   placeholder="结束日期"
                   id="searchEndDate" name="searchEndDate" class="form-control " aria-describedby="basic-addon1">

        </div>



        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding:0">
            <div class="input-group  input-group-sm  ">
                <span class="input-group-addon" id="basic-addon1">学生姓名</span>
                <input placeholder="请输入学生姓名" class="form-control" name="searchStudentName" id="searchStudentName" type="text" />
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding:0">
            <div class="input-group  input-group-sm  ">
                <span class="input-group-addon" id="basic-addon1">学生身份证</span>
                <input class="form-control" placeholder="请输入学生身份证" name="searchStudentIDCard" id="searchStudentIDCard" type="text" />
            </div>
        </div>

        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <button type="button" class="btn btn-primary btn-sm" id="btnSearch">
                查询
            </button>


        </div>
    </div>

    <div class="" style="margin-top:10px">

        @{

            DTOModel.UI_SysSetting caonima = ViewBag.UI_SysSetting as DTOModel.UI_SysSetting;

            if (caonima.danzhaoStatus)
            {
                string sthsth = "<button type=\"button\" id=\"btnDZ\" class=\"btn btn-success btn-sm \" style=\"padding: 2px 10px;margin-right:4px\">单招</button>";
                @Html.Raw(sthsth)

            }
            else
            {
                string sthsth = "<button type=\"button\" id=\"btnDZ\" class=\"btn  btn-sm  disabled\" style=\"padding: 2px 10px;margin-right:4px\">单招</button>";
                @Html.Raw(sthsth)

            }

            if (caonima.tongzhaoStatus)
            {
                string sthsth = "<button type=\"button\" id=\"btnTZ\" class=\"btn btn-success btn-sm \" style=\"padding: 2px 10px;margin-right:4px\">统招</button>";
                @Html.Raw(sthsth)
            }
            else
            {
                string sthsth = "<button type=\"button\" id=\"btnTZ\" class=\"btn  btn-sm disabled \" style=\"padding: 2px 10px;margin-right:4px\">统招</button>";
                @Html.Raw(sthsth)
            }

            if (caonima.zhongzhuanStatus)
            {
                string sthsth = "<button type=\"button\" id=\"btnZZ\" class=\"btn btn-success btn-sm \" style=\"padding: 2px 10px;margin-right:4px\">中专和五年一贯制</button>";
                @Html.Raw(sthsth)

            }
            else
            {
                string sthsth = "<button type=\"button\" id=\"btnZZ\" class=\"btn  btn-sm disabled\" style=\"padding: 2px 10px;margin-right:4px\">中专和五年一贯制</button>";
                @Html.Raw(sthsth)

            }

            

            if (caonima.shengwaiStatus)
            {
                string sthsth = "<button type=\"button\" id=\"btnSW\" class=\"btn btn-success btn-sm \" style=\"padding: 2px 10px;margin-right:4px\">省外招生录入</button>";
                @Html.Raw(sthsth)

            }
            else
            {
                string sthsth = "<button type=\"button\" id=\"btnSW\" class=\"btn  btn-sm  disabled\" style=\"padding: 2px 10px;margin-right:4px\">省外招生录入</button>";
                @Html.Raw(sthsth)
            }
        }
        <a id="BtnDaoChuExcel" class="btn btn-default btn-sm " style="padding: 2px 10px;">
            <span class="fa fa-file-excel-o" aria-hidden="true"></span> 导出EXCEL

        </a>
    </div>



    <table class="table   table-condensed table-responsive" id="t1">
        <thead>
            <tr>
                <th>序号</th>
                <th>学生</th>
                <th>学生性质</th>
                <th>推荐人</th>
                <th>录入时间</th>
                <th>更正后的数据</th>
                <th>操作</th>
            </tr>
        </thead>

    </table>




    <div aria-hidden="true" data-backdrop="static" class="modal fade" id="modelZhong" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" id="form1">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">  <i class="glyphicon glyphicon-remove-circle"></i></button>
                        <h4 class="modal-title" id="myModalLabel">录入学生信息</h4>
                    </div>
                    <div class="modal-body">
                        <input id="StudentId" name="StudentId" type="hidden" />
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-2  control-label" for="formGroupInputSmall">
                                <font style="color:red">*</font>&nbsp;
                                学生姓名
                            </label>
                            <div class="col-sm-4">
                                <input type="text"
                                       id="StudentName"
                                       required name="StudentName"
                                       class="form-control" placeholder="学生姓名" />
                            </div>

                            <label class="col-sm-2  control-label" for="formGroupInputSmall">
                                <font style="color:red">*</font>&nbsp;
                                性别
                            </label>
                            <div class="col-sm-4">
                                <select id="Sex" name="Sex" class="form-control" required>
                                    <option value="">--请选择性别--</option>
                                    <option value="男">男</option>
                                    <option value="女">女</option>

                                </select>
                            </div>



                        </div>

                        <div class="form-group form-group-sm row">

                            <label class="col-sm-2  control-label" for="formGroupInputSmall">
                                @*<font style="color:red">*</font>&nbsp;*@考生地区
                            </label>
                            <div class="col-sm-4">
                                <select id="Area" name="Area" class="form-control">
                                    <option value="">--请选择地区--</option>
                                    <option value="石家庄南/桥西区">石家庄南/桥西区</option>
                                    <option value="石家庄南/裕华区">石家庄南/裕华区</option>
                                    <option value="石家庄南/藁城区">石家庄南/藁城区</option>
                                    <option value="石家庄南/赵县">石家庄南/赵县</option>
                                    <option value="石家庄南/高邑县"> 石家庄南/高邑县</option>
                                    <option value="石家庄南/元氏县">石家庄南/元氏县</option>
                                    <option value="石家庄南/栾城区">石家庄南/栾城区</option>
                                    <option value="石家庄南/赞皇县">石家庄南/赞皇县</option>
                                    <option value="石家庄南/晋州市">石家庄南/晋州市</option>
                                    <option value="石家庄南/无极县">石家庄南/无极县</option>
                                    <option value="石家庄北/长安区">石家庄北/长安区</option>
                                    <option value="石家庄北/新华区">石家庄北/新华区</option>
                                    <option value="石家庄北/深泽县">石家庄北/深泽县</option>
                                    <option value="石家庄北/辛集市">石家庄北/辛集市</option>
                                    <option value="石家庄北/鹿泉区">石家庄北/鹿泉区</option>
                                    <option value="石家庄北/井陉县">石家庄北/井陉县</option>
                                    <option value="石家庄北/新乐市">石家庄北/新乐市</option>
                                    <option value="石家庄北/行唐县"> 石家庄北/行唐县</option>
                                    <option value="石家庄北/平山县">石家庄北/平山县</option>
                                    <option value="石家庄北/灵寿县">石家庄北/灵寿县</option>
                                    <option value="石家庄北/正定县">石家庄北/正定县</option>
                                    <option value="石家庄北/井陉矿区">石家庄北/井陉矿区</option>
                                    <option value="保定南/定州市">保定南/定州市</option>
                                    <option value="保定南/曲阳县">保定南/曲阳县</option>
                                    <option value="保定南/阜平县">保定南/阜平县</option>
                                    <option value="保定南/安国市">保定南/安国市</option>
                                    <option value="保定南/博野县">保定南/博野县</option>
                                    <option value="保定南/蠡县">保定南/蠡县</option>
                                    <option value="保定南/望都县">保定南/望都县</option>
                                    <option value="保定南/唐县">保定南/唐县</option>
                                    <option value="保定南/高阳县">保定南/高阳县</option>
                                    <option value="保定南/顺平县">保定南/顺平县</option>
                                    <option value="保定南/清苑县">保定南/清苑县</option>
                                    <option value="保定南/南市区">保定南/南市区</option>
                                    <option value="保定北/新市区">保定北/新市区</option>
                                    <option value="保定北/北市区">保定北/北市区</option>
                                    <option value="保定北/满城县">保定北/满城县</option>
                                    <option value="保定北/涞源县">保定北/涞源县</option>
                                    <option value="保定北/安新县">保定北/安新县</option>
                                    <option value="保定北/徐水县">保定北/徐水县</option>
                                    <option value="保定北/容城">保定北/容城</option>
                                    <option value="保定北/雄县">保定北/雄县</option>
                                    <option value="保定北/定兴县">保定北/定兴县</option>
                                    <option value="保定北/易县">保定北/易县</option>
                                    <option value="保定北/涞水县">保定北/涞水县</option>
                                    <option value="保定北/涿州市">保定北/涿州市</option>
                                    <option value="保定北/高碑店市">保定北/高碑店市</option>
                                    <option value="邯郸/丛台区">邯郸/丛台区</option>
                                    <option value="邯郸/邯山区">邯郸/邯山区</option>
                                    <option value="邯郸/复兴区">邯郸/复兴区</option>
                                    <option value="邯郸/峰峰矿区">邯郸/峰峰矿区</option>
                                    <option value="邯郸/肥乡区">邯郸/肥乡区</option>
                                    <option value="邯郸/永年区">邯郸/永年区</option>
                                    <option value="邯郸/涉县">邯郸/涉县</option>
                                    <option value="邯郸/武安市">邯郸/武安市</option>
                                    <option value="邯郸/磁县">邯郸/磁县</option>
                                    <option value="邯郸/永年县">邯郸/永年县</option>
                                    <option value="邯郸/邯郸县">邯郸/邯郸县</option>
                                    <option value="邯郸/峰峰矿区">邯郸/峰峰矿区</option>
                                    <option value="邯郸/鸡泽县">邯郸/鸡泽县</option>
                                    <option value="邯郸/曲周县">邯郸/曲周县</option>
                                    <option value="邯郸/邱县">邯郸/邱县</option>
                                    <option value="邯郸/馆陶县">邯郸/馆陶县</option>
                                    <option value="邯郸/大名县">邯郸/大名县</option>
                                    <option value="邯郸/魏县">邯郸/魏县</option>
                                    <option value="邯郸/广平县">邯郸/广平县</option>
                                    <option value="邯郸/肥乡县">邯郸/肥乡县</option>
                                    <option value="邯郸/成安县">邯郸/成安县</option>
                                    <option value="邯郸/临漳县">邯郸/临漳县</option>
                                    <option value="邢台西/襄都区">邢台西/襄都区</option>
                                    <option value="邢台西/信都区">邢台西/信都区</option>
                                    <option value="邢台西/任泽区">邢台西/任泽区</option>
                                    <option value="邢台西/南和区">邢台西/南和区</option>
                                    <option value="邢台西/柏乡">邢台西/柏乡</option>
                                    <option value="邢台西/临城">邢台西/临城</option>
                                    <option value="邢台西/内丘">邢台西/内丘</option>
                                    <option value="邢台西/沙河">邢台西/沙河</option>
                                    <option value="邢台东/宁晋县">邢台东/宁晋县</option>
                                    <option value="邢台东/巨鹿县">邢台东/巨鹿县</option>
                                    <option value="邢台东/平乡县">邢台东/平乡县</option>
                                    <option value="邢台东/新河县">邢台东/新河县</option>
                                    <option value="邢台东/南宫县">邢台东/南宫县</option>
                                    <option value="邢台东/威县">邢台东/威县</option>
                                    <option value="邢台东/清河县">邢台东/清河县</option>
                                    <option value="邢台东/临西县">邢台东/临西县</option>
                                    <option value="邢台东/广宗县">邢台东/广宗县</option>
                                    <option value="邢台东/隆尧县">邢台东/隆尧县</option>
                                    <option value="唐山/路南区">唐山/路南区</option>
                                    <option value="唐山/路北区">唐山/路北区</option>
                                    <option value="唐山/开平区">唐山/开平区</option>
                                    <option value="唐山/古冶区">唐山/古冶区</option>
                                    <option value="唐山/丰南区">唐山/丰南区</option>
                                    <option value="唐山/丰润区">唐山/丰润区</option>
                                    <option value="唐山/遵化市">唐山/遵化市</option>
                                    <option value="唐山/迁安市">唐山/迁安市</option>
                                    <option value="唐山/滦南县">唐山/滦南县</option>
                                    <option value="唐山/滦州市">唐山/滦州市</option>
                                    <option value="唐山/乐亭县">唐山/乐亭县</option>
                                    <option value="唐山/玉田县">唐山/玉田县</option>
                                    <option value="唐山/迁西县">唐山/迁西县</option>
                                    <option value="唐山/唐海县">唐山/唐海县</option>
                                    <option value="唐山/汉沽管理区">唐山/汉沽管理区</option>
                                    <option value="唐山/海港开发区">唐山/海港开发区</option>
                                    <option value="唐山/芦台开发区">唐山/芦台开发区</option>
                                    <option value="唐山/南堡开发区">唐山/南堡开发区</option>
                                    <option value="唐山/高新技术产业开发区">唐山/高新技术产业开发区</option>
                                    <option value="唐山/曹妃甸工业区">唐山/曹妃甸工业区</option>
                                    <option value="沧州/运河区">沧州/运河区</option>
                                    <option value="沧州/新华区">沧州/新华区</option>
                                    <option value="沧州/黄骅市">沧州/黄骅市</option>
                                    <option value="沧州/任丘市">沧州/任丘市</option>
                                    <option value="沧州/泊头市">沧州/泊头市</option>
                                    <option value="沧州/河间市">沧州/河间市</option>
                                    <option value="沧州/沧县">沧州/沧县</option>
                                    <option value="沧州/青县">沧州/青县</option>
                                    <option value="沧州/东光县">沧州/东光县</option>
                                    <option value="沧州/海兴县">沧州/海兴县</option>
                                    <option value="沧州/盐山县">沧州/盐山县</option>
                                    <option value="沧州/肃宁县">沧州/肃宁县</option>
                                    <option value="沧州/南皮县">沧州/南皮县</option>
                                    <option value="沧州/吴桥县">沧州/吴桥县</option>
                                    <option value="沧州/献县">沧州/献县</option>
                                    <option value="沧州/孟村回族自治县">沧州/孟村回族自治县</option>
                                    <option value="张家口/桥东区">张家口/桥东区 </option>
                                    <option value="张家口/桥西区">张家口/桥西区 </option>
                                    <option value="张家口/宣化区">张家口/宣化区  </option>
                                    <option value="张家口/下花园区">张家口/下花园区 </option>
                                    <option value="张家口/万全区">张家口/万全区  </option>
                                    <option value="张家口/崇礼区">张家口/崇礼区 </option>
                                    <option value="张家口/张北县">张家口/张北县</option>
                                    <option value="张家口/康保县">张家口/康保县</option>
                                    <option value="张家口/沽源县">张家口/沽源县</option>
                                    <option value="张家口/尚义县">张家口/尚义县</option>
                                    <option value="张家口/蔚县">张家口/蔚县</option>
                                    <option value="张家口/阳泉县">张家口/阳泉县</option>
                                    <option value="张家口/怀安县">张家口/怀安县</option>
                                    <option value="张家口/怀来县">张家口/怀来县</option>
                                    <option value="张家口/涿鹿县">张家口/涿鹿县</option>
                                    <option value="张家口/赤城县">张家口/赤城县</option>
                                    <option value="承德市/双滦区">承德市/双滦区</option>
                                    <option value="承德市/双桥区">承德市/双桥区</option>
                                    <option value="承德市/鹰手营子矿区">承德市/鹰手营子矿区</option>
                                    <option value="承德市/围场县">承德市/围场县</option>
                                    <option value="承德市/滦平县">承德市/滦平县</option>
                                    <option value="承德市/隆化县">承德市/隆化县</option>
                                    <option value="承德市/丰宁县">承德市/丰宁县</option>
                                    <option value="承德市/宽城县">承德市/宽城县</option>
                                    <option value="承德市/平泉县">承德市/平泉县</option>
                                    <option value="承德市/兴隆县">承德市/兴隆县</option>
                                    <option value="廊坊市/广阳区">廊坊市/广阳区  </option>
                                    <option value="廊坊市/安次区">廊坊市/安次区 </option>
                                    <option value="廊坊市/三河市">廊坊市/三河市</option>
                                    <option value="廊坊市/霸州市">廊坊市/霸州市</option>
                                    <option value="廊坊市/永清县">廊坊市/永清县</option>
                                    <option value="廊坊市/大厂回族自治县">廊坊市/大厂回族自治县</option>
                                    <option value="廊坊市/固安县">廊坊市/固安县</option>
                                    <option value="廊坊市/文安县">廊坊市/文安县</option>
                                    <option value="廊坊市/香河县">廊坊市/香河县</option>
                                    <option value="廊坊市/大城县">廊坊市/大城县</option>
                                    <option value="衡水市/桃城区">衡水市/桃城区</option>
                                    <option value="衡水市/冀州区">衡水市/冀州区</option>
                                    <option value="衡水市/深州市">衡水市/深州市</option>
                                    <option value="衡水市/枣强县">衡水市/枣强县</option>
                                    <option value="衡水市/武邑县">衡水市/武邑县</option>
                                    <option value="衡水市/武强县">衡水市/武强县</option>
                                    <option value="衡水市/饶阳县">衡水市/饶阳县</option>
                                    <option value="衡水市/安平县">衡水市/安平县</option>
                                    <option value="衡水市/故城县">衡水市/故城县</option>
                                    <option value="衡水市/景县">衡水市/景县</option>
                                    <option value="衡水市/阜城县">衡水市/阜城县</option>
                                    <option value="秦皇岛/海港区">秦皇岛/海港区</option>
                                    <option value="秦皇岛/山海关区">秦皇岛/山海关区</option>
                                    <option value="秦皇岛/北戴河区">秦皇岛/北戴河区</option>
                                    <option value="秦皇岛/抚宁区">秦皇岛/抚宁区</option>
                                    <option value="秦皇岛/昌黎县">秦皇岛/昌黎县</option>
                                    <option value="秦皇岛/卢龙县">秦皇岛/卢龙县</option>
                                    <option value="秦皇岛/青龙满族自治县">秦皇岛/青龙满族自治县</option>
                                    <option value="其他省市">其他省市</option>
                                </select>
                            </div>



                        </div>

                        <div class="form-group form-group-sm row">
                            <label class="col-sm-2  control-label" for="formGroupInputSmall">
                                <font style="color:red">*</font>&nbsp;身份证号
                            </label>
                            <div class="col-sm-4">
                                <input type="text"
                                       id="StudentIDCard"
                                       name="StudentIDCard"
                                       class="form-control" placeholder="身份证号" />
                            </div>

                            <label class="col-sm-2  control-label" for="formGroupInputSmall">
                                <font style="color:red">*</font>&nbsp;再次身份证号
                            </label>
                            <div class="col-sm-4">
                                <input required type="text"
                                       id="ReStudentIDCard"
                                       name="ReStudentIDCard"
                                       class="form-control" placeholder="再次身份证号" />
                            </div>

                        </div>

                        <div class="form-group form-group-sm row">
                            <label class="col-sm-2  control-label" for="formGroupInputSmall">联系方式 </label>
                            <div class="col-sm-4">
                                <input type="text"
                                       id="StudentPhone"
                                       name="StudentPhone"
                                       class="form-control" placeholder="联系方式" />
                            </div>

                            <label class="col-sm-2  control-label" for="formGroupInputSmall">
                                <font style="color:red">*</font>&nbsp;学生性质
                            </label>
                            <div class="col-sm-4">
                                <select disabled required id="StudentType" name="StudentType" class="form-control">
                                    <option value="">--请选择学生性质--</option>
                                    <option value="统招">统招</option>
                                    <option value="单招">单招</option>
                                    <option value="跟读">跟读</option>
                                    <option value="中专和五年一贯制">中专和五年一贯制</option>
                                    <option value="省外招生录入">省外招生录入</option>

                                </select>
                            </div>
                        </div>

                        <div class="form-group form-group-sm row">
                            <label class="col-sm-2  control-label" for="formGroupInputSmall">报考专业 </label>
                            <div class="col-sm-4">
                                <select id="StudentZhuanYeId" name="StudentZhuanYeId" class="form-control">
                                    <option value="">--请选择报考专业--</option>
                                    @{
                                        List<DataAccess.Math_Dict> l1 = ViewBag.DictList as List<DataAccess.Math_Dict>;
                                        foreach (DataAccess.Math_Dict sitem in l1)
                                        {
                                            string output1 = string.Format(" <option value='{0}'>{1}</option>", sitem.DictId, sitem.DictValue);
                                            @Html.Raw(output1)
                                        }
                                    }


                                </select>
                            </div>

                            <label class="col-sm-2  control-label" for="formGroupInputSmall">
                                @*<font style="color:red">*</font>&nbsp;*@
                                毕业中学
                            </label>
                            <div class="col-sm-4">
                                <input type="text"
                                       id="StudentSchool"
                                       name="StudentSchool"
                                       class="form-control" placeholder="毕业中学" />
                            </div>
                        </div>

                        <div class="form-group form-group-sm row">
                            <label class="col-sm-2  control-label" for="formGroupInputSmall">

                                家庭地址
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                       id="StudentAddress"
                                       name="StudentAddress"
                                       class="form-control"
                                       placeholder="家庭地址" />
                            </div>


                        </div>

                        <div class="form-group form-group-sm row">
                            <label class="col-sm-2  control-label" for="formGroupInputLarge">备注</label>
                            <div class="col-sm-10">
                                <textarea id="Remark" name="Remark" placeholder="备注" class="form-control" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">



                        <button type="submit" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            保存
                        </button>



                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            关闭
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div aria-hidden="true" data-backdrop="static" class="modal fade" id="modelUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" id="formUpdate">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">  <i class="glyphicon glyphicon-remove-circle"></i></button>
                        <h4 class="modal-title" id="myModalLabel">录入学生信息</h4>
                    </div>
                    <div class="modal-body">
                        <input id="StudentId" name="StudentId" type="hidden" />
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-2  control-label" for="formGroupInputSmall">
                                学生姓名
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                       id="DingZhengName"
                                       required name="DingZhengName"
                                       class="form-control" placeholder="学生姓名" />
                            </div>
                        </div>
                        <div class="form-group form-group-sm row">
                            <label class="col-sm-2  control-label" for="formGroupInputSmall">
                                身份证号
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                       id="DingZhengNumber"
                                       name="DingZhengNumber"
                                       class="form-control" placeholder="身份证号" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            保存
                        </button>



                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            关闭
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>




    <div aria-hidden="true" data-backdrop="static" class="modal fade" id="modelView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" id="form3">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">  <i class="glyphicon glyphicon-remove-circle"></i></button>
                        <h4 class="modal-title" id="myModalLabel">学生基本信息</h4>
                    </div>
                    <div class="modal-body">
                        <input id="WorkId" name="WorkId" type="hidden" />

                        <div>

                            <div class="   minHeight100">

                                <div class="row">
                                    <div class="col-md-2 col-sm-2 col-xs-2 text-right"><h4>学生姓名</h4></div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 text-left text-info"><h4 id="DivStudentName">未指定</h4></div>

                                    <div class="col-md-2 col-sm-2 col-xs-2 text-right"><h4>性别</h4></div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 text-left text-info"><h4 id="DivSex">未指定</h4></div>




                                </div>

                                <hr />

                                <div class="row">

                                    <div class="col-md-2 col-sm-2 col-xs-2 text-right"><h4>考生地区</h4></div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 text-left text-info"><h4 id="DivArea">未指定</h4></div>

                                    <div class="col-md-2 col-sm-2 col-xs-2 text-right"><h4>身份证号</h4></div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 text-left text-info"><h4 id="DivStudentIDCard">未指定</h4></div>

                                </div>


                                <hr />


                                <div class="row">

                                    <div class="col-md-2 col-sm-2 col-xs-2 text-right"><h4>联系方式</h4></div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 text-left text-info"><h4 id="DivStudentPhone">未指定</h4></div>

                                    <div class="col-md-2 col-sm-2 col-xs-2 text-right"><h4> 学生性质</h4></div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 text-left text-info"><h4 id="DivStudentType">未指定</h4></div>


                                </div>

                                <hr />

                                <div class="row">
                                    <div class="col-md-2 col-sm-2 col-xs-2 text-right"><h4>报考专业</h4></div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 text-left text-info"><h4 id="DivStudentZhuanYeValue">未指定</h4></div>

                                    <div class="col-md-2 col-sm-2 col-xs-2 text-right"><h4>毕业中学</h4></div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 text-left text-info"><h4 id="DivStudentSchool">未指定</h4></div>


                                </div>
                                <hr />

                                <div class="row">
                                    <div class="col-md-2 col-sm-2 col-xs-2 text-right"><h4>家庭住址</h4></div>
                                    <div class="col-md-10 col-sm-10 col-xs-10 text-left text-info"><h4 id="DivStudentAddress">未指定</h4></div>



                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-2 col-sm-2 col-xs-2 text-right"><h4>备注</h4></div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 text-left text-info"><h4 id="DivRemark">未指定</h4></div>



                                </div>

                                <hr />

                                <div class="row">
                                    <div class="col-md-2 col-sm-2 col-xs-2 text-right"><h4>推荐人</h4></div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 text-left text-info">
                                        <h4 id="DivUserName">
                                            未指定

                                        </h4>
                                        <span id="DivUserPhone"> </span>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2 text-right"><h4>推荐人部门</h4></div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 text-left text-info"><h4 id="DivUserDeptName">未指定</h4></div>


                                </div>

                                <hr />





                            </div>

                        </div>















                    </div>
                    <div class="modal-footer">







                        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            关闭
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>









</div>


