<!DOCTYPE html>
<html>
<head>
    <title>石家庄城市经济职业学院招生管理系统</title>


    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="icon" href="../../favicon.ico">

    <!--Jquery-->
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>

    <!--bootstrap-->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>

    <!-- Custom styles for this template -->

    <link href="@Url.Content("~/Content/DashBorad/dashboard.css?v=2021-9-29")" rel="stylesheet" />

    <script src="~/Scripts/DataTables-1.10.13/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.13/media/js/dataTables.bootstrap4.min.js"></script>

    <link href="~/Scripts/DataTables-1.10.13/media/css/dataTables.bootstrap4.min.css" rel="stylesheet" />


    <link href="~/Content/bootstrapUpdate.css?v=20210705" rel="stylesheet" />

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />


    <script src="~/Scripts/jquery-validation-1.15.0/dist/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery-validation-1.15.0/dist/localization/messages_zh.min.js"></script>

    <script src="~/Scripts/layer-v3.0.3/layer/layer.js"></script>

    <script src="~/Scripts/datetime.js?v=2.0"></script>


    <link href="~/Content/WorkFlowStatus.css?id=1000" rel="stylesheet" />


    <script src="~/Scripts/layDate-v5.0.9/laydate/laydate.js?v=1.1"></script>
    <link href="~/Scripts/layDate-v5.0.9/laydate/theme/default/laydate.css" rel="stylesheet" />

    <link href="~/Content/octicons.css" rel="stylesheet" />

    <script src="~/Scripts/respond.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <meta name="renderer" content=webkit>
    <link href="~/Scripts/animate.min.css" rel="stylesheet" />
    <link href="~/Scripts/nprogress-master/nprogress.css" rel="stylesheet" />
    <script src="~/Scripts/nprogress-master/nprogress.js"></script>
    @RenderSection("scripts", required: false)

    <style>
        #nprogress .spinner-icon {
        border-radius:50% !important
        }
        .modal-title, .modal-header, .modal-body, .modal-footer {
            border: none;
        }

        .navbar-default {
            background-color: #ffffff !important;
            box-shadow: 0 2px 2px #c2d1e1;
        }

        .selected {
            border-right: 4px solid #0d7de0;
            color: #000;
            background-color: #c4e1ff;
        }

            .selected a {
                color: #000;
                font-size: 15px;
            }


        .nav > li > a {
            position: relative;
            display: block;
            padding: 6px 15px;
        }

        #rightNav > li > a {
            line-height: 31px;
        }

        .navbar-default .navbar-brand {
            color: #108ee9;
        }

        .navbar-brand {
            float: left;
            height: 35px;
            padding: 0;
            font-size: 18px;
            line-height: 35px;
            padding-left: 20px;
        }


        #rightNav > li > a {
            line-height: 35px;
            padding: 0;
            margin: 0 15px;
        }

        .navbar {
            min-height: 35px;
        }

        @@font-face {
            font-family: 'FZZZHONGHJW';
            src: url('../../../../fonts/FZZZHONGHJW.TTF') format('truetype');
        }

        @@font-face {
            font-family: 'zsYAHEI';
            src: url('../../../../fonts/zsYAHEI.ttf') format('truetype');
        }
        .selfContainer {
            padding: 0;
        }
        @@media screen and (min-width: 1080px) {
            .selfContainer {
                padding-left: 70px;
                padding-right: 70px;
            }
        }

    </style>

    <script>
        $(document).ready(function () {
            $('#@ViewBag.Id').addClass("selected")
        });
    </script>
</head>

<body style="overflow:hidden;position:relative"  class="animate__animated animate__fadeIn">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand animate__animated  animate__fadeIn" style="letter-spacing:5px;">石家庄城市经济职业学院招生管理系统</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse ">
                <ul class="nav navbar-nav navbar-right " id="rightNav">
                    <li><a style="color:#108ee9;font-size:16px; font-weight:700; font-family:'Microsoft YaHei';">欢迎！@System.Web.HttpContext.Current.User.Identity.Name</a></li>
                    <li><a href="~/Admin/Login">退出后台</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid" style="margin-top:35px">
        <div class="row">
            <div class="col-sm-4 col-md-3 col-xs-4 col-lg-2 sidebar" id="sidebar">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin-top:10px;">
                    <div class="panel panel-default ">
                        <div id="collapseTwo" class="panel-collapse collapse in " role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body" style="padding:0">
                                <ul class=" row nav nav-sidebar " style="margin:0" id="left_link">
                                    @{
                                        List<DTOModel.UI_Math_Menuinfo> listcaonima = ViewBag.MenuList as List<DTOModel.UI_Math_Menuinfo>;

                                        foreach (DTOModel.UI_Math_Menuinfo item in listcaonima)
                                        {
                                            string sth = " <li class='text-nowrap' id=\"a" + item.MenuOrderId + "\"><a class='text-nowrap' href=\"" + item.MenuURL + "\"><i class=\"" + item.MenuIcon + "\" aria-hidden=\"true\"></i>&nbsp;" + item.MenuTitle + "</a></li>";

                                            @Html.Raw(sth);
                                        }
                                    }

                                    <li><a href="~/Admin/UserInfoTop/ChangePWDIndex"><i class="octicon octicon-key" aria-hidden="true"></i>&nbsp;修改密码</a></li>
                                    <li><a href="~/Admin/Login"><i class="octicon octicon-sign-out" aria-hidden="true"></i>&nbsp;退出后台</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div id="cc" class="col-sm-8 col-md-9 col-xs-8  col-lg-10  main" style=" overflow:hidden">
                <div class="selfContainer">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" data-backdrop="static" class="modal fade " id="modelLoad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">  <i class="glyphicon glyphicon-remove-circle"></i></button>

                    <form>

                        <div class="form-group form-group-sm">
                            <h5 class="pro-title">正在处理中，请耐心等待......</h5>
                            <div class="progress pro-radius">
                                <div class="progress-bar progress-bar-striped gradient load_bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
        $(document).ready(function () {
            var id='@ViewBag.CurrentId';
            if(!id)
            {
                id="11111";
            }
            $("#left_link").find("li").removeClass("active");
            $("#left_link").find("li#" + id).addClass("active");
            $('#cc').height($(window).height() - 60);
            $('#sidebar').height($(window).height() - 36);
            $(window).resize(function () {
                $('#cc').height($(window).height() - 60);
                $('#sidebar').height($(window).height() - 36);
                
            });
        });
    </script>

</body>

</html>

